<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Larochelle Capitale.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a  routerLink="liste-maisons" class="nav-link">Listes des maisons</a>
        </li>
        <li class="nav-item">
          <a   routerLink="ajoutmaison" class="nav-link">Nouvelle Maison</a>
        </li>
        <li class="nav-item">
          <a routerLink="ajout-agents"  class="nav-link">Ajouter un courtier</a>
        </li>
        <li class="nav-item">
          <a routerLink="liste-agents"   class="nav-link">Liste des courtiers</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

